$bgColor: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
);
$outline-color: #003153;
$progressAreaTimeBgColor: #002333;
$controlsBgColor: rgba(0, 0, 0, 0.6);
$progressAreaBgColor: #f0f0f0;
$progressBarBgColor: rgb(255, 174, 0);
$timerIconIInputColor: #fff;
$settingsBgColor: lightgray;
$settingsColor: gray;
$scrollbarColor: rgb(83, 83, 83);
$liHoverColor: rgba(28, 28, 28, 0.8);
